// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
}

$navbar-color:  #343a40;
.weibo-nav {
    background-color: $navbar-color !important;
    margin-bottom: 200px;
}

.navbar-logo {
    color: white;
}

.navbar-menu {
    display: block;
    li {
        display: inline-block;
    }

    li > a {
        display: block;
        color: #9d9d9d;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
    }

    li > a:hover {
        color: white;
        text-decoration: none;
    }
}

.jumbotron {
    background-color: #e9ecef;
}

.footer {
    $font-color: #555;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    a {
        color: $font-color;
        font-weight: bold;
    }
}


/* User gravatar */

section.user_info {
    padding-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 70px;
    }

    h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 15px;
    }
}

.gravatar {
    float: left;
    max-width: 50%;
    border-radius: 50%;
}
